<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Coding Events</title>
    <link th:href="@{/style.css}" rel=""stylesheet>
</head>
<body>

<h1>All Events</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Address</th>
    </tr>
<th:block th:each="event : ${events}">
       <tr>
           <td th:text="${event.key}"></td>
           <td th:text="${event.value}"></td>
           <td><div>th:replace="fragments :: address"</div></td>
       </tr>
</th:block>
</table>

</body>
</html>